header {
  padding: 10px 20px;
  background-color: rgb(50, 50, 50);
  color: white;
  height: 70px;
  font-family: "Lato",sans-serif;
  font-weight: 700;
  font-size: 35px;
}

.margin {
  margin: 1vh;
}

input[type="text"] {
  display: inline;
  padding: 2vh;
  border: 0.1vh solid rgb(220, 220, 220);
  border-radius: 0.5vh;
  color: rgb(50, 50, 50);
  outline: none;
  font-size: 2.5vh;
}
input[type="text"]:focus {
  border: solid rgb(150, 160, 170);
  border-radius: 0.5vh;
  border-width: 0.1vh;
  outline: none;
}

button[type="iconButton"] {
  background-color: transparent;
  border: none;
}

.icon {
  width: 5vh;
  height: auto;
}
