body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.margin {
  margin: 1vh;
}

input[type="text"] {
  display: inline;
  padding: 2vh;
  border: 0.1vh solid rgb(220, 220, 220);
  border-radius: 0.5vh;
  color: rgb(50, 50, 50);
  outline: none;
  font-size: 2.5vh;
}
input[type="text"]:focus {
  border: solid rgb(150, 160, 170);
  border-radius: 0.5vh;
  border-width: 0.1vh;
  outline: none;
}

.chatbot {
  display: flex;
  flex-direction: column;
  height: 93vh;
  align-items: center;
  background-color: rgb(150, 160, 170);
}

.chatScreen {
  height: 100%;
  width: min(70vh, 100%);
}

.topBar {
  background-color: rgb(50, 50, 50);
  height: 10vh;
  color: white;
  font-size: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.topBarText {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.window {
  position: relative;
  height: 83vh;
  width: 100%;
  background-color: rgb(248, 248, 248);
  border-width: 0.5vh;
}

.chat {
  bottom: 0;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  /* max-height: 100vh; */
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.messageBox {
  height: 10%;
}

.messageInputBox {
  width: 85%;
  height: 70%;
}

.icon {
  width: 5vh;
  height: auto;
}

.messageCard {
  width: 80%;
  font-size: 2.5vh;
  border-radius: 2vh;
  padding: 2vh;
}
.messageCard.bot {
  color: rgb(50, 50, 50);
  background-color: rgb(210, 220, 230);
  position: relative;
  float: left;
}
.messageCard.user {
  color: white;
  background-color: rgb(50, 50, 50);
  position: relative;
  float: right;
}

.answerSource {
  display: block;
  font-size: 2vh;
  float: right;
}

.kgMessage {
  color: grey;
  font-size: 4vh;
  float: center;
  text-align: center;
}

.interactiveSearchBody {
  display: flex;
  flex-direction: row;
}

.graph {
  display: block;
  width: 60vmax;
  height: 60vmax;
}

.infoBox {
  overflow: scroll;
  display: block;
  color: rgb(94, 94, 94);
  width: 20vmax;
  height: 80vh;
  font-size: 2.5vh;
  border: solid rgb(94, 94, 94) 0.5vh;
}

.infoBoxContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legend {
  overflow: scroll;
  display: block;
  color: rgb(94, 94, 94);
  width: 20vmax;
  height: 80vh;
  font-size: 2vh;
  border: solid rgb(94, 94, 94) 0.5vh;
  text-align: center;
}

.legendRow {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.nodeText {
  overflow: scroll;
  height: 100%;
  width: 100%;
}

.Document {
  padding: 1vh;
  background-color: rgb(91, 91, 91);
  color: white;
  height: 8vh;
  width: 10vh;
  font-size: 1.5vh;
  border-radius: 0.5vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Topic {
  padding: 1vh;
  background-color: rgb(136, 39, 222);
  color: white;
  height: 8vh;
  width: 10vh;
  font-size: 1.5vh;
  border-radius: 0.5vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Paragraph {
  padding: 1vh;
  background-color: peachpuff;
  height: 10vh;
  width: 10vh;
  font-size: 1.5vh;
  border-radius: 0.5vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Sentence {
  padding: 1vh;
  background-color: rgb(175, 217, 244);
  height: 8vh;
  width: 10vh;
  font-size: 1.5vh;
  border-radius: 0.5vh;
  text-align: center;
}

.Extraction {
  padding: 1vh;
  background-color: rgb(80, 204, 245);
  height: 2vh;
  width: 2vh;
  font-size: 1.5vh;
  border-radius: 0.5vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ExtEntity {
  padding: 1vh;
  background-color: coral;
  height: 5vh;
  width: 10vh;
  font-size: 1.5vh;
  border-radius: 0.5vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected {
  border: black 0.1vh;
}
